body
{
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bckgrnd
{
  position: absolute;
  height: 100px;
  width: 100%;
  background: lightseagreen;
  z-index: -1;
}
header
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.content
{
    background-color: lightseagreen;
    box-sizing: border-box;
    width: 100%;
    margin-top:20px;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

nav.content
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
nav.content h2{
  margin: 10px;
}

a
{
    text-decoration:none;
}

.red
{
  border: 2px solid red;
}

@media screen and (min-width: 768px), (orientation: landscape)
{
  header
  {
    width: 70%;
    max-width: 960px;
    justify-content: left;
  }
  header img
  {
    float: left;
  }
  .content
  {
    width: 70%;
    max-width: 960px;
  }
  nav.content
  {
    flex-wrap: wrap;
    flex-direction: row;
  }
  table.content
  {
    order: 0;
  }
}
